<div class="blog-grid grid {{ class }}">
  {% for article in articles %}
    <div class="grid__item blog-grid__card {{ card_class }}">
      {% render 'blog-article-card', article: article, titleClass: 'large-up--serif-heading-xl medium-down--serif-heading-l', textClass: 'large-up--serif-body-l medium-down--serif-body-m' %}
    </div>
  {% endfor %}
</div>
{% assign class = blank %}
{% assign card_class = blank %}
{% assign max_image_height = blank %}