<div class="header__nav medium-down--hide">
  <div class="header__nav__inner header__nav__inner--right">
    <div class="header__nav__item {% if template.name=='search' %}active{% endif %}">
      {% include 'search-form' %}
    </div>
    {% if shop.customer_accounts_enabled %}
      {% include 'customer-links', item_class: "header__nav__item" active_class: "active" %}
    {% endif %}

    <div class="header__nav__item {% if template.name == 'cart' %}active{% endif %}">
      <a href="/cart">
        {{ 'layout.cart.title' | t }}&thinsp;&middot;&thinsp;{{ cart.item_count }}
      </a>
    </div>
  </div>
</div>