<div class="product__images" data-images-container>
  {% for image in product.images %}
    {% if forloop.index == 1 %}
      {% assign wrapper_class="small--hide" %}
    {% endif %}
    {% render 'responsive-image' with
      image: image,
      wrapper_class: "product__images__image {{ class }}",
      wrapper_attributes: "data-product-image-wrapper",
    %}
  {% endfor %}
</div>