:root {
  --grid-padding: calc(#{$inset});
  --grid-item-padding: calc(#{$inset});
  --grid-item-padding-v: calc(#{6 * $v-space});
}
.blog-article-card {
  a {
    display: block;
  }
  &__image img {
    width: 100%;
    display: block;
  }
  &__title {
    margin-top: 1.25em;
  }

  &__excerpt {
    margin-top: .75em;
}
  &__title, &__excerpt {
    margin-left: $inset;
    margin-right: $inset
  }
}

@include media-query($small) {
  .blog-grid {
    .grid {
      display: block;
      margin: 0 $inset;
    }
    .grid .grid__item {
      padding: 0 0;

      &:not(:first-child) {
        margin-top: var(--grid-item-padding-v);
      }
    }
  }
}

@include media-query($medium-up) {
  .blog-grid .grid {
    margin-left: calc(-1 * var(--grid-item-padding));
    margin-top: calc(-1 * var(--grid-item-padding-v));
    &__item {
      padding-left: var(--grid-item-padding);
      padding-top: var(--grid-item-padding-v);
    }
  }
  .blog-grid {
    padding: 0 var(--grid-padding);

    &__card {
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }
}
.blog {
  @include media-query($medium-up) {
    .blog-grid {
      max-width: 140em;
      margin-left: auto;
      margin-right: auto;

      .blog-article-card {
        max-width: 50rem;
        margin: 0 auto;


        img {
          object-fit: cover;
          max-height: 40vw;
          width: 100%;
        }
      }
    }
  }
  @include media-query($large-up) {
    .blog-grid {
      .blog-article-card {
        width: 30vw;
      }
    }
  }
}