.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
}
.button-rect {
  @extend .button;
  @extend .sans-serif-uppercase-l;
  background: black;
  border: 1px solid;
  border-color: black;
  color: white;
  padding: .7rem 1.5rem .9rem;
  @media (hover: hover) {
    &:hover {
      color: black;
      background: white;
    }
  }
  &:disabled {
    background: $gray-medium;
    border-color: $gray-medium;
    color: white;
    @media (hover: hover) {
      &:hover {
        color: $gray-medium;
        background: white;
      }
    }
  }
}
