html {
  background-color: $color-body;
  box-sizing: border-box;
  font-size: 62.5%;
}


:focus {
  outline: none;
}

#container {
  min-height: 100%;
  overflow: hidden; // prevent top & bottom marign collapse
}

main {
  height: 100%;
  z-index: -1;
  position: relative;

  @include media-query($large-up) {
    padding-top: $content-top-margin-desktop;
  }
  @include media-query($medium-down) {
    padding-top: $header-height-mobile;
  }
}

#main-inner {
  height: 400px;
}

.max-width {
  @include media-query($widescreen) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.margins {
  @include media-query($small) {
    margin-left: $inset;
    margin-right: $inset;
  }
  @include media-query($medium) {
    margin-left: $inset-2;
    margin-right: $inset-2;
  }

  @include media-query($large-up) {
    margin-left: 20rem;
    margin-right: 20rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

iframe {
  display: none;
}

body,
html {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.faux-underline {
  @include faux-underline();
}