@include media-query($small) {
  .responsive-table {
    width: 100%;

    thead {
      display: none;
    }

    tr {
      display: block;
    }

    // IE9 table layout fixes
    tr,
    td {
      float: left;
      clear: both;
      width: 100%;
    }

    th,
    td {
      display: block;
      margin: 0;
      // @include media-query($small) {
      //   padding: $grid-gutter-mobile / 2;
      // }
      // @include media-query($medium-up) {
      //   padding: $grid-gutter-desktop / 2;
      // }
    }

    td[data-label]::before {
      content: attr(data-label);
      float: left;
      padding-right: 10px;
      text-align: center;
    }
  }
}
