.rte {

  img {
    height: auto;
  }

  table {
    table-layout: fixed;
  }

  ul,
  ol {
    @include media-query($small) {
      margin: 0 0 ($grid-gutter-mobile / 2) $grid-gutter-mobile;
    }
    @include media-query($medium-up) {
      margin: 0 0 ($grid-gutter-desktop / 2) $grid-gutter-desktop;
    }
  }

  strong {
    font-weight: $font-body-bold-weight;
  }

  h2 {
    @extend .serif-heading-l;
    @extend .large-up--serif-heading-xl;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  h3 {
    @extend .serif-heading-m;
    @extend .large-up--serif-heading-l;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  h4 {
    @extend .sans-serif-uppercase-m;
    @extend .large-up--sans-serif-uppercase-l;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  h5 {
    @extend .sans-serif-uppercase-s;
    @extend .large-up--sans-serif-uppercase-m;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
}

// Allow table to scroll for tables in the RTE since we don't know
// how many columns they will contain. Class added by JS.
.rte-table {
  overflow: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}

// This class is wrapped around YouTube/Vimeo embeds in the RTE
// to make them responsive and prevent layout breaking
.rte__video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 0;
  height: auto;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// This class is wrapped around tables in the RTE
// to prevent layout breaking with a scrollable parent
.rte__table-wrapper {
  overflow: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}
