html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  line-height: $standard-line-height;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

@mixin responsive-typography($breakpoint: '') {
  // sass-lint:disable no-important

  .#{$breakpoint}sans-serif {
    font-family: $font-heading;
    letter-spacing: .02em;
    text-transform: none;
  }
  .#{$breakpoint}sans-serif-uppercase {
    @extend .#{$breakpoint}sans-serif;
    letter-spacing: .036em;
    text-transform: uppercase;
  }

  .#{$breakpoint}serif {
    font-family: $font-body;

    b, strong {
      font-weight: $font-body-bold-weight;
    }
  }

  // Sans-serif
  .#{$breakpoint}sans-serif-l {
    @extend .#{$breakpoint}sans-serif;
    font-size: 1.6rem;
  }
  .#{$breakpoint}sans-serif-m {
    @extend .#{$breakpoint}sans-serif;
    font-size: $base-font-size;
  }
  .#{$breakpoint}sans-serif-s {
    @extend .#{$breakpoint}sans-serif;
  }

  // Sans-serif Uppercase
  .#{$breakpoint}sans-serif-uppercase-l {
    @extend .#{$breakpoint}sans-serif-uppercase;
    @extend .#{$breakpoint}sans-serif-l;
  }
  .#{$breakpoint}sans-serif-uppercase-m {
    @extend .#{$breakpoint}sans-serif-uppercase;
    @extend .#{$breakpoint}sans-serif-m;
    font-size: $base-font-size;
  }
  .#{$breakpoint}sans-serif-uppercase-s {
    @extend .#{$breakpoint}sans-serif-uppercase;
    @extend .#{$breakpoint}sans-serif-s;
  }

  // Serif Heading

  .#{$breakpoint}serif-heading-xl {
    @extend .#{$breakpoint}serif;
    font-size: 3.0rem;
  }

  .#{$breakpoint}serif-heading-l {
    @extend .#{$breakpoint}serif;
    font-size: 2.4rem;
  }
  .#{$breakpoint}serif-heading-m {
    @extend .#{$breakpoint}serif;
    font-size: 2.0rem
  }

  // Serif Body

  .#{$breakpoint}serif-body-xl {
    @extend .#{$breakpoint}serif;
    font-size: 1.8rem;
  }
  .#{$breakpoint}serif-body-l {
    @extend .#{$breakpoint}serif;
    font-size: 1.6rem;
  }
  .#{$breakpoint}serif-body-m {
    @extend .#{$breakpoint}serif;
    font-size: $base-font-size;
  }
}