html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

@mixin responsive-typography($breakpoint: '') {
  // sass-lint:disable no-important

  .#{$breakpoint}sans-serif {
    font-family: $font-heading;
    letter-spacing: .01em;
    text-transform: none;
  }
  .#{$breakpoint}sans-serif-uppercase {
    @extend .#{$breakpoint}sans-serif;
    letter-spacing: .036em;
    text-transform: uppercase;
  }

  .#{$breakpoint}serif {
    font-family: $font-body;
    line-height: $paragraph-line-height;

    b, strong {
      font-weight: $font-body-bold-weight;
    }
  }

  // Sans-serif
  .#{$breakpoint}sans-serif-l {
    @extend .#{$breakpoint}sans-serif;
  }
  .#{$breakpoint}sans-serif-m {
    @extend .#{$breakpoint}sans-serif;
    font-size: 1.4rem;
  }
  .#{$breakpoint}sans-serif-s {
    @extend .#{$breakpoint}sans-serif;
  }

  // Sans-serif Uppercase

  .#{$breakpoint}sans-serif-uppercase-l {
    @extend .#{$breakpoint}sans-serif-uppercase;
  }
  .#{$breakpoint}sans-serif-uppercase-m {
    @extend .#{$breakpoint}sans-serif-uppercase;
    font-size: 1.4rem;
  }
  .#{$breakpoint}sans-serif-uppercase-s {
    @extend .#{$breakpoint}sans-serif-uppercase;
  }

  // Serif

  .#{$breakpoint}serif-l {
    @extend .#{$breakpoint}serif;
  }
  .#{$breakpoint}serif-m {
    @extend .#{$breakpoint}serif;
  }
  .#{$breakpoint}serif-s {
    @extend .#{$breakpoint}serif;
  }
}