<div class="blog">
  {% paginate blog.articles by 48 %}

    {%- assign blog_title = blog.title -%}

    {% comment %}<h1>{{ blog_title }}</h1>{% endcomment %}



    {% comment %}

    Article Previews
    ====================
    {% endcomment %}

    {% include 'blog-grid', articles: blog.articles, class: 'blog__grid', max_image_height: 600, card_class: 'blog__grid__item medium-up--one-half' %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  {% endpaginate %}

  {% section 'newsletter' %}
</div>