{% paginate blog.articles by 48 %}

  {%- assign blog_title = blog.title -%}

  {% comment %}<h1>{{ blog_title }}</h1>{% endcomment %}



  {% comment %}

  Article Previews
  ====================
  {% endcomment %}

  {% include 'blog-grid', articles: blog.articles %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}

{% section 'newsletter' %}