{% include 'title-header', title: collection.title %}
<div class="collection">
  <div class="collection__header serif-body-m">
    {% if collection.image != blank %}
      <div class="collection__header__image">
        {% include 'responsive-image' with
          image: collection.image,
          max_width: 700,
          max_height: 800
        %}
      </div>
    {% endif %}

    {% if collection.description != blank %}
      <div
        class="collection__header__description "
      >
        {{ collection.description }}
      </div>
    {% endif %}
  </div>
  <div class="collection__content">
    {% if collection.products_count > 0 %}
      {% paginate collection.products by 48 %}
        {% include 'product-grid' with
          products: collection.products
        %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endpaginate %}
    {% else %}
      <div class="serif-body-m"><i>{{ 'collections.general.no_matches' | t }}</i></div>
    {% endif %}
  </div>
</div>
