{% include 'title-header', title: collection.title %}
<div class="collection">

  {% include 'collection-header', collection: collection %}

  <section class="collection__content" data-section-id="{{ section.id }}"  data-section-type="collection">
  {% paginate collection.products by 24 %}
    {% include 'product-masonry', masonry_items: collection.products, infinite_scroll: true %}
  {% endpaginate %}

  </section>
</div>

