<section class="collection">
  <header role="banner" class="collection__header">
    <h1 class="collection__header__title large-up--hide sans-serif-uppercase-l">{{ collection.title }}</h1>
    {% if collection.image != blank %}
      <div class="collection__header__image">
        {% include 'responsive-image' with
          image: collection.image,
          max_width: 700,
          max_height: 800
        %}
      </div>
    {% endif %}

    {% if collection.description != blank %}
      <div
        class="collection__header__description small--serif-body-m medium-up--serif-body-l"
      >
        {{ collection.description }}
      </div>
    {% endif %}
  </header>
  <div class="collection__content">
    {% if collection.products_count > 0 %}
      {% paginate collection.products by 48 %}
        {% include 'product-grid' with
          products: collection.products
        %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endpaginate %}
    {% else %}
      <p>{{ 'collections.general.no_matches' | t }}</p>
    {% endif %}
  </div>
</section>
