{% include 'title-header', title: collection.title %}
<div class="collection">
  {% include 'collection-header', collection: collection %}
  <div class="collection__content">
    {% section 'john-ohara' %}
  </div>
</div>
