<div class="blog-article-card">
  <div class="blog-article-card__image">{% include 'responsive-image-only', image: article.image %}</div>
  <div class="blog-article-card__title large-up--serif-heading-xl"><i>{{ article.title }}</i></div>
  <div class="blog-article-card__excerpt large-up--serif-body-l">{{ article.excerpt }}</div>
</div>

