<div class="collection__header serif-body-m">
  {% if collection.image != blank %}
    <div class="collection__header__image">
      {% include 'responsive-image' with
        image: collection.image
      %}
    </div>
  {% endif %}

  {% if collection.description != blank %}
    <div
      class="collection__header__description "
    >
      {{ collection.description }}
    </div>
  {% endif %}
</div>