<header role="banner" class="logo">
  {% if template.name == 'index' %}
    <h1>
  {% else %}
    <div class="h1">
  {% endif %}
      <a href="/" class="logo__link">
        <img class="logo__link__image" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}">
      </a>
  {% if template.name == 'index' %}
    </h1>
  {% else %}
    </div>
  {% endif %}

</header>