<nav role="navigation" class="header__nav medium-down--hide">
  <ul class="header__nav__inner header__nav__inner--left">
    {% for link in linklists[section.settings.main_menu].links %}
      <li class="header__nav__item {% if link.active %}active{% endif %}">
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>