.image-with-text.collection-image-with-text {
  max-width: 140rem;

  .image-with-text__image__inner{
    display: block;
  }

  .image-with-text__text__inner__cta {
    display: block;

    span {
      line-height: $sans-serif-underline-line-height;
    }
  }

  .image-with-text__text {
    padding: 0 $inset;

    &__inner {
      &__heading {
        margin: .5em 0;
      }

      &__copy {
        margin: 1.5em 0;
      }
    }
  }

  @include media-query($small) {
    .image-with-text__text {
      &__inner {

        &__heading {
          margin-top: 3 * $v-space;
        }
      }
    }
  }

  @include media-query ($medium-up) {
    display: flex;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;

    &.right {
      flex-direction: row-reverse;
    }

    .image-with-text__text,
    .image-with-text__image {
      width: 50%;
      flex: 0 0 auto;
    }

    .image-with-text__text {
      padding: 0 0 0 7%;

      .right & {
        padding: 0 7% 0 0;
      }
    }
  }
}