.footer {
  line-height: $left-primary-line-height;
  &__links {
    text-transform: uppercase;
  }

  &__newsletter {
    flex-shrink: 0;
    flex-grow: 1;
    @extend .sans-serif-m;
  }

  &__legal ul li {
    display: inline-block;
  }

  @include media-query($medium-up) {
    &__links {
      ul {
        display: flex;
        justify-content: space-between;
        li {
          flex-shrink: 0;
          white-space: nowrap;
        }
      }
    }

    &__bottom {
      margin-top: 3 * $v-space;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__legal {
      ul {
        li {

          margin-right: $inset-2;
        }
      }
    }
    &__legal ul, &__copyright {
      display: inline-block
    }
  }
  @include media-query($small) {
    &__bottom {
      margin-top: 3 * $v-space;
    }
    &__legal {
      margin-top: 3 * $v-space;
      text-align: center;
      ul {
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        li {
          flex: 1;
        }
        @media screen and (max-width: 400px) {
          justify-content: space-around;
          li {
            flex-basis: auto;
            flex-grow: 0;
          }
          li:not(:first-child){
            margin-left: .5em;
          }
        }
      }
    }
  }
  @include media-query($large-up) {
    padding: $inset-3;
  }
  @include media-query($medium-down) {
    padding: $inset-2;
  }
  @include media-query($medium) {
    &__links {
      ul {
        flex-wrap: wrap;
        .breaker {
          display: block;
          width: 100%;
        }
        li {
          flex: 1;
          text-align: center;
          margin: $v-space / 2 0;
        }
      }
    }
  }
}