#header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  @include media-query($large-up) {
    height: $header-height-desktop;
    padding-left: $nav-inset-desktop;
    padding-right: $nav-inset-desktop;
  }

  @include media-query($medium-down) {
    height: $header-height-mobile;
    padding: 0 1.5 * $inset;
  }
  &__nav {
    flex: 1;
    &__item {
      line-height: $underline-line-height;
    }
    &__item.active {
      @include faux-underline();
    }
    &__inner {
      display: flex;
      align-items: center;
      > * {
        cursor: pointer;
        @include media-query($large-up) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }
      &--left {
        justify-content: flex-start;
        @include media-query($large-up) {
          margin-left: -20px;
        }
      }
      &--right {
        justify-content: flex-end;
        @include media-query($large-up) {
          margin-right: -20px;
        }
      }
    }
  }

  .search-form {
    position: relative;
    &.expanded {
      .search-form__entry {
        display: block;
        position: absolute;
        top: calc(100% + #{$v-space});
        left: 0;
        width: 150px;
      }
    }
    &__label {
      display: block;
    }
  }
}
