.hero {
  img {
    display: block;
  }
  &__images {

    &.full-bleed {
      width: 100%;
      overflow: hidden;
      display: flex;
      .hero__image {
        max-height: 90vh;
      }
      img {
        flex: 1;
        height: 100%;
        object-fit: cover;
      }
    }
    &.inset {
      margin-left: auto;
      margin-right: auto;
      @include media-query($medium) {
        max-width: 50vw;
      }
      @include media-query($large-up) {
        max-width: 33vw;
      }
      @include media-query($small) {
        padding-left: $inset * 3.5;
        padding-right: $inset * 3.5;
      }
      .hero__image {
        max-height: 70vh;
      }
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__caption {
    text-align: center;
    padding: 0;
    margin: 1.5em auto;
    margin-left: auto;
    max-width: 40rem;
  }
  @include media-query($small) {
    &__caption {
      margin: 5 * $v-space auto;
      padding: 0 $inset-4;
    }
  }
}