.newsletter {
    .image-with-text {
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.homepage-newsletter {
  padding-bottom: 3 * $v-space;
  @extend .sans-serif-l;
  &__feedback {
    a {
      @extend .faux-underline;
      line-height: $sans-serif-underline-line-height;
    }
  }
}