.homepage-logo {
  width: 100%;
  pointer-events: none;
  opacity: 1;
  &.hidden {
    opacity: 0;
  }
  &.animated {
    transition: opacity $transition-duration;
  }
  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &.over-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  @include media-query($large-up) { // tablet & desktop
    margin-top: 5.5 * $v-space;
    margin-bottom: 5 * $v-space;
    &__image {
      width: 300px;
    }
  }
  @include media-query($medium-down) {
    margin: 3.5 * $v-space 0;
    &__image {
      width: 200px;
      max-width: 50%;
    }
  }
}