.image-with-text {
  display: flex;
  flex-wrap: wrap;
  padding: 0 $inset;
  &__image__inner{
    display: block;
  }
  &__image__inner{
    display: block;
  }
  &__text__inner__cta {
    display: block;
  }
  &__text {
    &__inner {
      &__copy, &__cta
       {
        margin: 1.5em 0;
      }
      &__heading {
        margin: .5em 0;
      }
    }
  }
  @include media-query ($small) {
    &__image {
      flex: 0 1 100%;
      &__inner {
        width: 100%;
      }
    }
    &__text {
      flex: 0 1 100%;
      padding: 0 $inset;
      &__inner {
        :last-child {
          margin-bottom: 0;
        }
        &__heading {
          margin-top: 3 * $v-space;
        }
      }
    }
  }

  @include media-query ($medium-up) {
    align-items: stretch;
    &.right {
      flex-direction: row-reverse;
    }
    &__image {
      padding: 0 $inset;
      flex: 0 1 55%;
      &__wrapper {
        height: 100%;
        max-height: 50rem;
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        &::before {
          content: '';
          position: relative;
          display: block;
          padding-top: 75%;
        }
      }
      &__inner {
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      flex: 1 1 45%;
      padding: 0 $inset-2;
    }
  }

  @include media-query ($large) {
    &__image {
      flex-basis: 52%;
    }
  }
  @include media-query ($large-up) {
    padding: 0 $inset-6;
    &__image {
      padding: 0 $inset-2;
    }
    &__text {
      padding: 0 $inset-4 0 $inset * 14;
      &__inner {
        max-width: 400px;
        margin: 0 auto;
      }
    }
    &.left {
      .image-with-text__text {
        padding: 0 $inset * 12 0 $inset-6;
      }
    }
  }
  // @include media-query ($widescreen) {
  //   padding: 0 $inset-6;
  //   &__image {
  //     padding: 0 $inset-2;
  //   }
  //   &__text {
  //     padding: 0 $inset-6;
  //     &__inner {
  //       max-width: 400px;
  //       margin: 0 auto;
  //     }
  //   }
  //   &.left {
  //     .image-with-text__text {
  //       padding: 0 $inset-6;
  //     }
  //   }
  // }
}