
.john-ohara-image-text,
.john-ohara-collection-block {
  margin: 10rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.john-ohara-collection-block {
  h2 {
    padding: 0 $inset;
  }

  .product-masonry {
    margin-top: 2em;
  }

  &__see-more {
    margin-top: 4em;
  }
}

@include media-query($medium-up) {
  .john-ohara-image-text,
  .john-ohara-collection-block {
    margin: 14rem 0;
  }

  .john-ohara-collection-block {
    h2 {
      padding: 0;
    }

    .product-masonry {
      margin-top: 2.5em;
    }

    &__see-more {
      margin-top: 6em;
    }
  }
}