$sidebar-min-width: 20.0rem;
#sidebar-container {
  min-width: $sidebar-min-width;
  position: absolute;
  top: 0;
}
.sidebar {
  min-width: $sidebar-min-width;

  &__separator {
    height: 1px;
    background-color: $transparent-gray-medium;
    margin: 0;
    padding: 0;
    border: none;
    margin: $left-primary-line-height * .76em 0 $left-primary-line-height * .74em;
    &.small {
      width: 2rem;
      margin-right: auto;
    }
  }
  &__nav-inner, &__nav-outer {
    &__item__title {
      line-height: $sans-serif-underline-line-height
    }

    @media(hover:hover) {
      &__item__title:hover {
        @include faux-underline;
      }
    }
  }
  &__nav-inner {
    display: none;
    line-height: $left-secondary-line-height;
    margin-left: 1.0rem;
    @include media-query($large-up) {
      margin-bottom: .5rem;
    }
  }
  &__nav-outer {
    line-height: $left-primary-line-height;
    &.has-active-child {
      .sidebar__nav-inner {
        display: block;
      }
    }
  }
  &__nav-outer + &__nav-outer {
    margin-top: $left-primary-line-height * .75em;
  }
  &__nav-outer__item, &__nav-inner__item {
    &.active a {
      @include faux-underline();
      line-height: $sans-serif-underline-line-height;
    }

    &__title {
      cursor: pointer;
      display: inline-block;
    }
  }

  // &__gradient {
  //   width: 100%;
  //   left: 0;
  //   pointer-events: none;

  //   @include media-query($medium-down) {
  //     position: absolute;

  //     $gradient-height-mobile: .3 * $header-height-mobile;

  //     $top-gradient-height-mobile: 1.2 * $header-height-mobile;
  //     $top-precent-gradient-mobile: 100% - (100% * $gradient-height-mobile/$top-gradient-height-mobile);

  //     $bottom-gradient-height-mobile: 2.5rem;
  //     $bottom-precent-gradient-mobile: 100% - (100% * $gradient-height-mobile/$bottom-gradient-height-mobile);

  //     &--top {
  //       z-index: 1;
  //       top: 0;
  //       height: $top-gradient-height-mobile;
  //       background-image: linear-gradient(white $top-precent-gradient-mobile, transparent);
  //     }

  //     &--bottom {
  //       transform: rotate(180deg);
  //       bottom: 0;
  //       height: $bottom-gradient-height-mobile;
  //       background-image: linear-gradient(rgba(255,255,255,1) $bottom-precent-gradient-mobile, rgba(255,255,255,0));
  //     }
  //   }
  //   @include media-query($large-up) {
  //     display: none;
  //   }

  // }

  @include media-query($medium-down) {
    position: fixed;
    z-index: $sidebar-z-index;
    right: 100%;
    top: 0;
    height: 100%;
    background: white;
    transition: transform $transition-duration-long;
    &.visible {
      transform: translate3d(100%, 0, 0);
    }
    &__slide-area.expanded {
      .sidebar__nav-outer {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &__scroll {
      &__top {
        flex-grow: 1;
        transition: min-height 0.5s ease 0s;
        overflow: hidden;
      }
    }
    &__buttons {
      top: 0;
      height: $header-height-mobile;
      display: flex;
      align-items: center;
      padding: 0 1.5 * $inset;
      width: 100%;
      position: absolute;
      justify-content: space-between;
      z-index: 2;
    }
    &__close, &__back {
      cursor: pointer;
      display: block;
    }
    &__back {
      opacity: 0;
      transition: opacity $transition-duration-long;
      &.visible {
        opacity: 1;
      }
    }
    &__close {
      svg {
        width: 1.4rem;
        height: 1.1rem;
      }
    }


    &__inner {
      padding: $header-height-mobile $inset-2 $inset-2;
      height: 100%;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      overflow-y: scroll;
    }
    &__nav-inner {
      min-height: 0;
      transition: min-height $transition-duration-long;
    }
    &__nav-outer__item.has-active-child {
      .sidebar__nav-outer__item__title {
        @include faux-underline();
        line-height: $sans-serif-underline-line-height;
      }
    }
    &__bottom {
      &__split {
        > * {
          margin: 0;
        }
        > :first-child {
          float: left;
          width: 50%;
          padding-right: 10px;
          margin-right: 10px;
        }
      }
    }
    .search-form {
      display: inline-block;
      &.expanded {
        .search-form__label {
          display: none;
        }
      }
    }
  }

  @include media-query($medium) {
    border-right: 1px solid $color-border;
    background: white;
    min-width: 320px;
  }

  @include media-query($small) {
    width: 100%;
  }

  @include media-query($large-up) {
    &__inner {
      z-index: 1;
      padding-left: $nav-inset-desktop;
      padding-right:$nav-inset-desktop;
      padding-bottom: $nav-inset-desktop;
      padding-top: $content-top-margin-desktop;
    }
    &__content {
      margin-top: $left-primary-line-height * -.25em; // ensure sidebar aligns with top of main content
    }

  }
  &--blog {
    @include media-query($large-up) {
      display: none;
      [data-blog-menu] {
        display: none;
      }
    }
  }
}