#shopify-section-sidebar {
  @include media-query($medium-up) {
    position: absolute;
    min-width: 2.0rem;
  }
}
.sidebar {
  min-width: 100%;
  &__inner {
    @include media-query($medium-up) {
      padding-left: $nav-inset-desktop;
      padding-right:$nav-inset-desktop;
      padding-bottom: $nav-inset-desktop;
      padding-top: $header-height-desktop + $header-bottom-spacing-desktop;
    }
  }

  &__separator {
    height: 1px;
    margin: $left-primary-line-height * .76em 0 $left-primary-line-height * .74em;
    @include media-query($medium-up) {
      width: 2rem;
      margin-right: auto
    }
    background-color: $transparent-black;
  }
  &__nav-outer {
    line-height: $left-primary-line-height;
  }
  &__nav-outer + &__nav-outer {
    margin-top: $left-primary-line-height * .75em;
  }
  &__nav-outer__item.expanded {
    .sidebar__nav-inner {
      display: block;
    }
  }

  &__nav-outer__item, &__nav-inner__item {
    &.active {
      text-decoration: underline;
    }
  }
  &__nav-inner {
    display: none;
    line-height: $left-secondary-line-height;
    margin-left: 1.0rem;
    margin-bottom: .5rem;
  }
}