:root {
  .more-articles {
    @include media-query($medium-up) {
      --grid-padding: calc(#{$inset-4});
      --grid-item-padding: calc(#{$inset-4});
    }
    @include media-query($large-up) {
      --grid-padding: calc(#{$inset * 8});
      --grid-item-padding: calc(#{$inset-8});
    }
    @include media-query($widescreen) {
     --grid-item-padding: calc(#{$inset-4});
    }
  }
}

.article {
  &__content {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > blockquote {
      text-align: center;
      @extend .large-up--serif-heading-l;
      @extend .medium--serif-heading-m;
      @extend .small--serif-body-xl;
    }

    > .image-container {
      span, img {
        display: block;
      }
      &--many-images {
        display: flex;
        img {
          flex-shrink: 0;
          object-fit: contain;
        }
        &.flickity-enabled {
          display: block;
        }
        &.flickity-enabled .flickity-viewport .flickity-slider img {
          min-height: 100%;
        }

        .flickity-prev-next-button {
          width: 50%;
        }
      }
    }
  }
}
@include media-query($small) {
  .article {
    padding: 0 $inset;
    &__main-image {
      margin-bottom: 5 * $v-space;
      img {
        width: 100%;
      }
    }
    &__title {
      margin-bottom: 4 * $v-space
    }
    &__content {
      > .image-container img {
        width: 100%;
      }
      > .text-container,
      > h1,
      > h2
      > h3,
      > h4,
      > h5,
      > h6,
      > blockquote {
        margin-left:  $inset;
        margin-right:  $inset;
      }

      > h1,
      > h2
      > h3,
      > h4,
      > h5,
      > h6,
      > blockquote,
      > .image-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: $v-space * 4;

        &:not(:last-child){
          margin-bottom: $v-space * 4;
        }
      }
      > .image-container {
        img {
          max-height: 85vw;
          width: 100%;
        }
        &--two-images {
          img:not(:first-child) {
            margin-top: $v-space * 4;
          }
        }
        &--many-images {
          img {
            height: 65vw;
            padding: 0 10%;
          }
          .flickity-prev-next-button {

            &.previous {
              left: -$inset;
              padding-right: 40%;
            }
            &.next {
              right: -$inset;
              padding-left: 40%;
            }
          }
        }
      }
    }
  }
}

@include media-query($medium-up) {
  .article {
    padding: 0 var(--grid-padding);
    max-width: 140em;
    &__main-image {
      margin: 5 * $v-space auto;
      width: 60%;
      max-width: 70rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        max-height: 70rem;
      }
    }
    &__title {
      margin-bottom: 4 * $v-space
    }
    &__content {
      > .text-container {
        margin: $v-space auto;
        max-width: $max-text-width;
      }
      > h1, > h2, > h3, > h4, > h5, > h6, > blockquote {
        margin: $v-space * 6 auto;
        max-width: $max-text-width;
      }
      > .image-container {
        span, img {
          display: block;
        }
        margin: $v-space * 6 0;
        &--one-image, &--two-images {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
        &--one-image img {
          max-width: 60%;
        }
        &--two-images {
          padding-left: 8vw;
          padding-right: 8vw;
          img {
            &:not(:first-child) {
              margin-left: $inset-6
            }
            max-width: 36vw;
            max-height: 36vw;
          }
        }
        &--many-images {
          img {
            height: 40vw;
            width: 60%;
          }
          .flickity-prev-next-button {
            &.previous {
              padding-right: 25%;
            }
            &.next {
              padding-left: 25%;
            }
          }
        }
      }
    }
  }
}
.more-articles {
  @include media-query($medium-up) {
  }
  @include media-query($large-up) {
  }
  // .grid {
  //   display: block;
  //   margin: 0 $inset;
  // }
  // .grid .grid__item {
  //   padding: 0 0;
  // }
  // &__carousel {
  //   &__card {
  //     &:not(:first-child) {
  //       margin-top: 8.4rem;
  //     }
  //   }
  // }
}