:root {
  .blog {
    @include media-query($medium-up) {
      --grid-padding: 10%;
      --grid-item-padding: calc(#{6 * $v-space});
    }
    @include media-query($large-up) {
      --grid-padding: 12%;
      --grid-item-padding: calc(#{7 * $v-space});
      --grid-item-padding-v: calc(#{7 * $v-space});
    }
    @include media-query($widescreen) {
      --grid-item-padding: calc(#{12 * $v-space});
      --grid-item-padding-v: calc(#{12 * $v-space});
    }
  }
}
.template-blog, .template-article {
  main {
    hr {
      margin: 5.6rem $inset-3;
      max-width: 700px;
      border: none;
      background: $transparent-gray-medium;
      height: 1px;
      @include media-query($medium-up) {
        margin: 8rem auto;
      }
      @include media-query($large-up) {
        margin: 12rem auto;
      }
    }
  }
}
