.collection {
  padding: 0 $inset;

  &__header {
    &__title {
      text-align: center;
      padding: (3 * $v-space) 0 (4 * $v-space);
    }
    &__image {
      margin-bottom: 4 * $v-space;
    }
    &__description {
      font-family: $font-body;
      padding: 0 $inset-3;
      margin-bottom: 4 * $v-space;
    }
  }

  &__content {
    &__product {
      &__metadata {
        line-height: 1;
        padding: $v-space;

        &__strikethrough_price {
          opacity: 0.3;
        }
      }
    }
  }

  @include media-query($small) {
    &__content {
      &__product {
        padding-bottom: 2 * $v-space;
      }
    }
  }
  @include media-query($medium-up) {
    padding-left: $inset-2;
    padding-right: $inset-2;

    &__header {
      padding: 0 $inset-4;
      &__image {
        margin-bottom: 6 * $v-space;
      }
      &__description {
        padding: 0 $inset-6;
        margin-bottom: 6 * $v-space;
      }
    }
  }
  @include media-query($large-up) {
    padding-left: $left-nav-padding;
    padding-right: $left-nav-padding; // should this be a new css variable for big desktop insets?
      // it looks like the right inset matches the left one, and both are bigger
      // than the biggest $inset-* variable

    &__header {
      padding: 0 $inset-12;
    }
  }
}
