.contact {
  &__header {
    @include italic-header();
    // margin-bottom: 5 * $v-space;
  }
  &__form {
    .form-success {
      margin-bottom: 3 * $v-space;
    }
    label {
      display: none;
    }
    input, textarea {
      @include input();
    }
    button[type="submit"] {
      margin-left: auto;
      display: block;
      margin-top: 1em;
    }
  }
  &__table {
    margin-top: 5 * $v-space;
    table {
      @extend .responsive-table;
      td {
        padding: 0;
        vertical-align: top;
        width: 50%;
        + td {
          margin-top: 4em;
        }
        a {
          text-decoration: none;
        }
        a[href^='mailto:'] {
          text-decoration: underline;
        }
      }
    }
  }
}