body.template-index {
  #container {
    padding-bottom: 0;
  }
  .homepage-section {
    @include media-query($large-up) {
      margin-top: 14 * $v-space;
    }
    @include media-query($medium) {
      margin-top: 10 * $v-space;
    }
    @include media-query($small) {
      margin-top: 5 * $v-space;
    }
    &.hero-with-caption-section {
      @include media-query($small) {
        margin-top: 0;
      }
    }
  }

  #homepage-contents .homepage-section:first-child {
    margin-top: 0;
  }

  .logo {
    opacity: 0;
    transition: opacity $transition-duration;
    &.homepage-visible {
      opacity: 1;
    }
  }
  main {
    position: relative;
    padding-top: 0;
  }
}
