body.template-index {
  .homepage-section:not(:last-child) {
    @include media-query($large-up) {
      margin-bottom: 14 * $v-space;
    }
    @include media-query($medium) {
      margin-bottom: 10 * $v-space;
    }
    @include media-query($small) {
      margin-bottom: 5 * $v-space;
    }
    &.hero-with-caption-section {
      @include media-query($small) {
        margin-bottom: 0;
      }
    }
  }
  .logo {
    opacity: 0;
    transition: opacity $transition-duration;
    &.homepage-visible {
      opacity: 1;
    }
  }
  main {
    position: relative;
    padding-top: 0;
  }
}
