.text-page {
  &__text, &__images {
    margin-left: auto;
    margin-right: auto;
  }
  &__text {
    a {
      text-decoration: underline;
    }
    @include paragraph-spacing();
    h1:not(:first-child) {
      margin-top: 6 * $v-space;
      margin-bottom: 5 * $v-space;
      @extend .sans-serif-uppercase-m;
    }

    h2 {
      margin-top: 4 * $v-space;
      margin-bottom: 2 * $v-space;
      @extend .sans-serif-uppercase-m;

    }


    h3 {
      margin-top: 3 * $v-space;
      margin-bottom: 1.5 * $v-space;
      @extend .sans-serif-uppercase-m;
    }

    h4 {
      margin-top: 3em;
      margin-bottom: 1em;
      font-weight: $font-body-bold-weight;
    }

    h5 {
      margin-top: 3em;
      margin-bottom: 1em;
      text-decoration: underline;
    }


    h6 {
      margin-top: 3em;
      margin-bottom: 1em;
    }

  }
  &__images {
    margin-top: $v-space * 5;
    &__image {
      img {
        width: 100%;
        display: block;
        height: auto;
      }
    }
  }
  @include media-query($small) {
    padding: 0 $inset;
    &__text {
      padding: 0 $inset;
      max-width: calc(#{$max-text-width} + #{$inset-2});
    }
  }
  @media screen and (min-width: 420px) {
    &__images {
      display: flex;
      flex-direction: row;
      max-width: $max-text-width * 1.25;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;

      &__image {
        width: 40%;
        max-width: 85%;
        flex-grow: 1;
        &:not(:first-child):not(:nth-child(2)) {
          padding-top: $inset;
        }
        &:not(:first-child) {
          padding-left: $inset/2;
        }
        &:not(:last-child) {
          padding-right: $inset/2;
        }
      }
    }
  }
  @include media-query($medium-up) {
    &__images {

      &__image {
        &:not(:first-child):not(:nth-child(2)) {
          padding-top: $inset-2;
        }
        &:not(:first-child) {
          padding-left: $inset;
        }
        &:not(:last-child) {
          padding-right: $inset;
        }
      }
    }
    &__text {
      padding: 0 $inset-4;
      max-width: calc(#{$max-text-width} + #{$inset-4});
    }
  }
  @include media-query($medium) {
    padding: 0 $inset-2;

  }
  @include media-query($large-up) {
    padding: 0 $left-nav-padding;

  }
}
