@mixin product-text-formatting() {
  p {
    margin: 1em 0 0;
  }
  h4, h5, h6 {
    font-weight: $font-body-bold-weight;
    margin: 1em 0 0;
    + p {
      margin-top: 0;
    }
  }
  > :first-child {
    margin-top: 0;
  }
  a {
    text-decoration: underline;
  }
}
.product {
  position: relative;
  &__text {
    &__inner {
      padding-bottom: $inset;
      overflow: hidden;
    }
    &__description {
      &__headings {
        &__content {
          display: flex;
        }
        &__heading {
          cursor: pointer;
          white-space: nowrap;
          span {
            line-height: $sans-serif-underline-line-height;
          }
          &.active span {
            @extend .faux-underline;
          }
          &:not(:last-child) {
            margin-right: 10%;
          }
        }
      }
      &__texts {
        margin-top: 2 * $v-space;
        min-height: 300px;
        overflow: hidden;
        &__text {
          @include product-text-formatting();
        }
      }
    }
    &__form {
      margin-top: 5 * $v-space;
    }
    &__more-info {
      margin-top: 3 * $v-space;
      @include product-text-formatting();
    }
    &__top {
      &__vendor {
        margin-bottom: .4rem;
        .faux-underline {
          line-height: 1.1;
        }
      }
    }
  }
  @include media-query($small) {
    &__content {
      padding: 0 $inset;
    }
    &__images {
      margin-top: 5 * $v-space;
      &__image {
        margin: $inset 0;
        padding-bottom: $inset;
      }
    }
    &__text {
      &__top {
        margin-bottom: .5em;
      }
      &__inner {
        padding-bottom: 0;
      }
      &__description {
        &__headings {
          &__content {
            padding-top: $header-height-mobile;
            padding-bottom: $v-space;
            background: white;
            &.viewport-top {
              justify-content: center;
              padding-left: $inset;
              padding-right: $inset;
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              border-bottom: 1px solid $gray-medium;
              z-index: 1;
            }
          }
        }
        &__texts {
          margin-top: $v-space;
        }
      }
    }
    &__mobile-sticky-cta {
      overflow: hidden;
      &__content {
        padding: $v-space 0;
        border-top: 1px solid white;
        background: white;
        transform: translate3d(0,0,0);
        transition: transform $transition-duration;
        &.viewport-bottom, &.container-bottom {
          width: 100%;
          z-index: 1;
          left: 0;
          padding-left: $inset;
          padding-right: $inset;
          bottom: 0;
        }
        &.viewport-bottom, .hidden {
          position: fixed;
          border-top: 1px solid $gray-medium;
        }
        &.hidden {
          transform: translate3d(0,100%,0);
        }
      }
    }
  }
  @include media-query($medium-down) {
    &__description {
      &__headings {
        &__heading {
          margin: 0;
        }
      }
    }
  }
  @include media-query($medium-up) {
    padding-left: $inset-2;
    padding-right: $inset-3;
    &__content {
      display: flex;
      flex-direction: row-reverse;
    }
    &__images {
      width: 55%;
      margin-right: $inset-3 / 2;
      margin-top: -$inset-2;
      &__image {
        margin-top: $inset-2;
      }
    }
    &__text {
      width: 45%;
      margin-left: $inset-3/2;
      &__top {
        margin-top: $v-space;
        margin-bottom: 4 * $v-space;
      }
    }
  }
  @include media-query($large-up) {
    padding-left: $left-nav-padding;
  }
  @include media-query($large) {
    &__images {
      width: 50%;
    }
    &__text {
      width: 50%;
    }
  }
  @include media-query($widescreen) {
    padding-right: $inset-8;

    &__content {
      display: flex;
    }
    &__images {
      margin-right: $inset-3;
    }
    &__text {
      margin-left: $inset-3;

      &__top {
        margin-top: 1.5 * $v-space;
      }
      &__inner {
        &__centered {
          max-width: $max-text-width;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }


}
