.search {

  &__header {
    @include italic-header();
  }
  padding: 0 $inset;

  @include media-query($medium-down) {
    padding: 0 $inset-2;
  }

  @include media-query($large-up) {
    padding: 0 $left-nav-padding;
  }


  .search-form {
    &__input {
      font-style: italic;
      width: 40rem;
      &::placeholder {
        color: $transparent-gray-dark;
      }
    }
    &__button {
      padding-left: 0;
      padding-right: 0;
      background: transparent;
      padding-bottom: .5rem;
      svg{
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }


}
