.tumblr {
  @include media-query($large-up) {
    .powr-tumblr-feed {
      padding: 0 $left-nav-padding;
    }
  }
  @include media-query($medium-down) {
    .powr-tumblr-feed {
      padding: 0 $inset-2;
    }
  }
  @include media-query($small) {
    .powr-tumblr-feed {
      padding: 0 $inset-2;
    }
  }
}