{{ 'text-page.css' | asset_url | stylesheet_tag }}

<section class="text-page serif-body-m" data-section-id="{{ section.id }}" data-section-type="page-section" >
  <div class="text-page__text ">
    {{ page.content }}
  </div>

  <div class="text-page__images">
  </div>
</section>
