
.cart table,.cart tr {
  padding: 0
}

.cart table,.cart td,.cart tr {
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0
}

.cart__empty__header {
  font-style: italic;
  text-transform: none;
  letter-spacing: unset;
  margin: 2.8rem 0 4.2rem
}

@media only screen and (min-width: 992px) {
  .cart__empty__header {
    margin-top:0
  }
}

.cart__empty__copy a {
  text-decoration: underline
}

.cart__table {
  width: 100%
}

.cart__table s {
  color: #999
}

.cart__image a,.cart__image img {
  display: block
}

.cart__text {
  line-height: 1.25
}

.cart__text__main p {
  margin: 0
}

.cart__text__main p+p {
  margin: .35em 0 0
}

.cart__text__main__vendor {
  text-decoration: underline
}

.cart__quantity a {
  position: relative
}

.cart__quantity a:after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%,-50%,0)
}

.cart__price,.cart__quantity,.cart__unit-price {
  white-space: nowrap
}

.cart__close {
  width: 1.2rem
}

.cart__close svg {
  width: 1.2rem;
  height: 1.2rem
}

.cart__instructions {
  margin-top: 8.4rem
}

.cart__instructions label,.cart__instructions textarea {
  display: block;
  width: 100%
}

.cart__instructions textarea {
  display: block;
  padding: .2rem 1rem .6rem;
  border: 1px solid #666;
  background: unset;
  width: 100%;
  margin-top: .7rem
}

.cart__instructions textarea::placeholder {
  text-transform: lowercase;
  color: #666
}

.cart__checkout-cta {
  margin-top: 5.6rem
}

.cart__shipping-at-checkout {
  margin-top: 1.4rem;
  padding: 0 1rem
}

@media only screen and (min-width: 768px) {
  .cart__table-wrapper {
    margin-top:-2rem;
    margin-left: -1.5rem
  }

  .cart__image {
    width: 22.5%
  }

  .cart__price,.cart__quantity,.cart__unit-price {
    text-align: right
  }

  .cart__table td {
    padding-left: 1.5rem;
    padding-top: 3rem
  }

  .cart__table td.cart__image {
    padding-top: 2rem
  }

  .cart__instructions {
    width: 100%
  }

  .cart__checkout-cta,.cart__instructions {
    margin-top: 0
  }

  .cart__bottom {
    margin-top: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  .cart__bottom__right {
    width: 400px;
    max-width: 45%;
    margin-top: 2.1rem
  }

  .cart__bottom__left {
    max-width: 45%;
    flex: 1
  }

  .cart__checkout-cta {
    width: 100%
  }
}

@media only screen and (max-width: 767px) {
  .cart {
    margin:0;
    padding: 0 1rem;
    position: relative
  }

  .cart__table-wrapper {
    margin-top: -5.6rem
  }

  .cart__form {
    margin: 0
  }

  .cart__image,.cart__price,.cart__quantity,.cart__unit-price {
    padding: 0
  }

  .cart__image img {
    width: 100%
  }

  .cart__price,.cart__text,.cart__unit-price {
    padding-left: 1rem;
    padding-right: 1rem
  }

  .cart table tr {
    padding-top: 5.6rem
  }

  .cart table td.cart__quantity,.cart table td.cart__unit-price {
    width: auto;
    clear: none
  }

  .cart table td.cart__quantity {
    float: right;
    margin-right: 4rem
  }

  .cart table td.cart__text {
    padding-top: 1.4rem;
    margin-bottom: 1.05rem
  }

  .cart table td.cart__price {
    margin-top: 1.05rem
  }

  .cart__close a,.cart__close svg {
    display: block
  }

  .cart__table {
    margin: 0;
    padding: 0
  }

  .cart tbody {
    padding: 0
  }

  .cart__close {
    float: right;
    display: block
  }

  .cart__instructions {
    padding: 0 1rem
  }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
  .cart {
    margin-top:2.8rem;
    padding: 0 2rem
  }
}

@media only screen and (min-width: 992px) and (max-width:1299px) {
  .cart {
    padding:0 3rem 0 21rem
  }
}

@media only screen and (min-width: 1300px) {
  .cart {
    padding:0 21rem;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto
  }
}
