
.header .search-form {
	position: relative
}

.header .search-form .search-form__entry {
	position: absolute;
	top: calc(100% + 1.4rem);
	left: 0
}

.header .search-form__label {
	display: inline-block;
	line-height: 1.5
}

@media (hover: hover) {
	.header .search-form__label:hover {
		position:relative;
		display: inline-block
	}

	.header .search-form__label:hover:after {
		content: "";
		position: absolute;
		bottom: 0;
		height: 1px;
		background-color: #000;
		left: 0;
		width: 100%
	}
}



.search-form .search-form__entry {
	white-space: nowrap;
	position: relative;
	display: inline-block;
	line-height: 1.8;
	display: flex
}

.search-form .search-form__entry:after {
	content: "";
	position: absolute;
	bottom: 0;
	height: 1px;
	background-color: #000;
	left: 0;
	width: 100%
}

.search-form__input {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background: transparent;
	width: 15rem
}

.search-form__input::placeholder {
	color: rgba(0,0,0,.6)
}

.search-form__button {
	padding-left: 0;
	padding-right: 0;
	background: transparent
}

.search-form__button svg {
	width: 12px;
	height: 12px
}

@media only screen and (max-width: 991px) {

	.sidebar .search-form {
		display: inline-block
	}

	.sidebar .search-form details[open] summary {
		display: none
	}
}


.search .search-form__input {
	font-style: italic;
	width: 40rem
}

.search .search-form__input::placeholder {
	color: rgba(0,0,0,.6)
}

.search .search-form__button {
	padding-left: 0;
	padding-right: 0;
	background: transparent;
	padding-bottom: .5rem
}

.search .search-form__button svg {
	width: 1.8rem;
	height: 1.8rem
}