
@media only screen and (min-width: 768px) {
  :root .more-articles {
    --grid-padding:4rem;
    --grid-item-padding: 4rem
  }
}

@media only screen and (min-width: 992px) {
  :root .more-articles {
    --grid-padding:8rem;
    --grid-item-padding: 8rem
  }
}

@media only screen and (min-width: 1300px) {
  :root .more-articles {
    --grid-item-padding:4rem
  }
}
