
.text-page__images,.text-page__text {
  margin-left: auto;
  margin-right: auto
}

.text-page__text a {
  text-decoration: underline
}

.text-page__text p {
  margin: 0
}

.text-page__text img {
  display: none
}

.text-page__text p+p {
  margin-top: 1em
}

.text-page__text h1:not(:first-child) {
  margin-top: 8.4rem;
  margin-bottom: 7rem
}

.text-page__text h2 {
  margin-top: 5.6rem;
  margin-bottom: 2.8rem
}

.text-page__text h3 {
  margin-top: 4.2rem;
  margin-bottom: 2.1rem
}

.text-page__text h4 {
  margin-top: 3em;
  margin-bottom: 1em;
  font-weight: 600
}

.text-page__text h5 {
  text-decoration: underline
}

.text-page__text h5,.text-page__text h6 {
  margin-top: 3em;
  margin-bottom: 1em
}

/* images */

.text-page__images {
  margin-top: 10rem;
  display:grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  max-width: 37.25em;

}

.text-page__images__image img {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .text-page {
    padding:0 1rem
  }

  .text-page__text {
    padding: 0 1rem;
    max-width: calc(35em + 2rem)
  }
}

@media screen and (min-width: 420px) {
  .text-page__images {
    justify-content: stretch;
    align-items: stretch;
  }

  .text-page__images--two-columns {
    grid-template-columns: 1fr 1fr;
    max-width: 43.75em;
  }

  .text-page__images__image {
  }
}

@media only screen and (min-width: 768px) {
  .text-page__text {
    padding: 0 4rem;
    max-width: calc(35em + 4rem)
  }
    .text-page__images--two-columns {
      gap: 2rem;
}

@media only screen and (min-width: 768px) and (max-width:991px) {
  .text-page {
    padding:0 2rem
  }
}

@media only screen and (min-width: 992px) {
  .text-page {
    padding:0 21rem
  }
}