{{ '404.css' | asset_url | stylesheet_tag }}

<div class="not-found">
  <h1 class="search__header">
    {{ 'general.404.title' | t }}
  </h1>
  <div class="serif-body-m">{{ 'general.404.subtext_html' | t }}</div>
</div>