{{ 'collection.css' | asset_url | stylesheet_tag }}


{% render 'title-header', title: collection.title %}
<div class="collection">

  {% render 'collection-header', collection: collection %}


  <section class="collection__content" data-section-id="{{ section.id }}"  data-section-type="collection">
    {% paginate collection.products by 24 %}
      {% section 'john-ohara' %}
    {% endpaginate %}
  </section>
</div>
