{{ 'collection.css' | asset_url | stylesheet_tag }}


{% render 'title-header', title: collection.title %}
<div class="collection">

  {% render 'collection-header', collection: collection %}

  <section class="collection__content" data-section-id="{{ section.id }}"  data-section-type="collection">
  {% paginate collection.products by 24 %}
    {% render 'product-masonry', paginate: paginate, collection: collection, masonry_items: collection.products, infinite_scroll: true %}
  {% endpaginate %}

  </section>
</div>