<section class="collection__content" data-section-id="{{ section.id }}"  data-section-type="collection">

  {% include 'product-masonry', masonry_collection: collection, infinite_scroll: true %}

</section>