<div class="hero">
  <div class="hero__images {{ section.settings.layout }}">

    {% if settings.layout == 'inset' %}
      {% if section.blocks[0].settings.image != blank %}
        {% include 'responsive-image', image: section.blocks[0].settings.image, wrapper_class: "hero__image" %}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}

    {% else %}
      {% for block in section.blocks %}
        {% if block.settings.image != blank %}
          {% include 'responsive-image', image: block.settings.image, wrapper_class: "hero__image" %}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  {% if section.settings.caption.size > 0 %}
    <div class="hero__caption serif-m">
      {{ section.settings.caption }}
    </div>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Hero with caption",
    "max_blocks": 2,
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Image Layout",
        "default": "full-bleed",
        "info": "Full Bleed: 1 landscape image or 2 portrait images. Inset: 1 landscape or portrait image.",
        "options": [
          {
            "value": "full-bleed",
            "label": "Full Bleed"
          },
          {
            "value": "inset",
            "label": "Inset"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "caption",
        "label": "Text",
        "default": "<p>Enter an image caption or quotation here.</p>"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero with caption",
        "category": "Image"
      }
    ]
  }
{% endschema %}