<section data-section-id="{{ section.id }}" data-section-type="instagram-feed" class="instagram-feed">
  <div id="insta-feed" class="{{ section.settings.color }}"></div>
  {% if settings.social_instagram_link.size > 0 and section.settings.link_text.size > 0 %}
    <div class="instagram-feed__caption sans-serif-uppercase-l">
      <a href="{{ settings.social_instagram_link }}" target="_blank">{{ section.settings.link_text }}</a>
    </div>
  {% endif %}
</section>
{% schema %}
  {
    "name": "Instagram feed",
    "class": "homepage-section",
    "settings": [
      {
        "type": "paragraph",
        "content": "To configure the header and the connection to Instagram, use the Instafeed app."
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text",
        "default": "@FORSYTHART | SEE MORE"
      },
      {
        "type": "select",
        "id": "color",
        "label": "Arrow color",
        "default": "black",
        "options": [
          {
            "value": "black",
            "label": "Black"
          },
          {
            "value": "white",
            "label": "White"
          }
        ]
      }
    ]
  }
{% endschema %}