{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}

<div data-section-id="{{ section.id }}" data-section-type="john-ohara">
  {% for block in section.blocks %}
    {% if block.type == "collection" %}
      {% assign block_collection = collections[block.settings.collection] %}
      <section class="john-ohara-collection-block">
        <h2 class="large-up--serif-heading-xl medium-down--serif-heading-l"><i>{{ block.settings.title }}</i></h2>

        {% paginate block_collection.products by 12 %}

          {% include 'product-masonry' with
            masonry_items: block_collection.products,
            infinite_scroll: false,
            view_all: true,
            view_more_text: block.settings.link_text
          %}

        {% endpaginate %}

      </section>

    {% elsif block.type == 'image-with-text' %}

      {% include 'image-with-text',
        title: block.settings.title,
        image: block.settings.image,
        text: block.settings.text
        layout: block.settings.layout
        button_label: block.settings.button_label
        button_link: block.settings.button_link,
        class: 'john-ohara-image-text collection-image-with-text'

      %}

    {% endif %}
  {% else %}
    {% include 'collection-body' %}
  {% endfor %}
</div>


{% schema %}
  {
    "name": "John O'Hara",
    "blocks": [{
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
          }
        ]
      },
      {
        "type": "image-with-text",
        "name": "Image with Text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Image alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ]
  }
{% endschema %}
