<section class="page" data-section-id="{{ section.id }}" data-section-type="page-section" >
  <div class="page__text serif-body-l">
    {{ page.content }}
  </div>

  <div class="page__images">
  </div>
</section>
