<section class="page-images">
  {% for block in section.blocks %}
    {% include 'responsive-image' with
      image: block.settings.image
    %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Page Images",
    "max_blocks": 2,
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
