<section class="page small--serif-body-m medium-up--serif-body-l" data-section-id="{{ section.id }}" data-section-type="page-section" >
  <div class="page__text ">
    {{ page.content }}
  </div>

  <div class="page__images">
  </div>
</section>
