.button-row {
  display: block;
  border-width: 1px 0;
  border-color: $gray-medium;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $inset;
  &--center {
    justify-content: center
  }
  &--stretch {
    justify-content: stretch;
  }
  &__text {
    padding-top: .2em;
  }
}