:root {
  --product-masonry-gap-horizontal: #{$inset};
  --product-masonry-gap-vertical: #{$inset * 3};
  @include media-query($medium-up) {
    --product-masonry-gap-horizontal: #{$inset * 2};
    --product-masonry-gap-vertical: #{$v-space * 3};
  }
  @include media-query($widescreen) {
    --product-masonry-gap-horizontal: #{$inset * 4};
    --product-masonry-gap-vertical: #{$v-space * 5};
  }
}
.product-masonry {

  &__container {
    visibility: hidden;
    .no-js & {
      visibility: visible;
    }
    &.loaded {
      visibility: visible;
    }
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--product-masonry-gap-horizontal));
    margin-top: calc(-1 * var(--product-masonry-gap-vertical));
  }

  &__item {
    transition: opacity $transition-duration;
    padding-left: var(--product-masonry-gap-horizontal);
    padding-top: var(--product-masonry-gap-vertical);
  }

  &__bottom {
    margin-top: $v-space * 4;
    height: 3rem;
    .last & {
      display: none;
    }
  }

  &__status {
    display: none;
  }

  &__view-more{
    cursor: pointer;
    .loading & {
      display: none;
    }
  }
}


