.product__form {
  @include media-query($medium-up) {
    margin-top: $v-space * 5;
  }
  @include media-query($small) {

  }
  &__cta__left {
    &__compare {
      color: $gray-medium;
      margin-right: .5em;
    }
  }
  &__option-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 2rem;
    }
  }
}