$product-grid-gutter-vertical: $v-space * 5;
$product-grid-gutter-horizonal-desktop: $inset * 2;
$product-grid-gutter-horizonal-mobile: $inset;
.product-grid {
  .grid {
    @include media-query($small) {
      margin-left: -$product-grid-gutter-horizonal-mobile;
      margin-top: -$product-grid-gutter-vertical;
    }
    @include media-query($medium-up) {
      margin-left: -$product-grid-gutter-horizonal-desktop;
      margin-top: -$product-grid-gutter-vertical;
    }

    .grid__item {
      @include media-query($small) {
        padding-left: $product-grid-gutter-horizonal-mobile;
        padding-top: $product-grid-gutter-vertical;
      }
      @include media-query($medium-up) {
        padding-left: $product-grid-gutter-horizonal-desktop;
        padding-top: $product-grid-gutter-vertical;
      }
    }

  }
  &__product {
    &__image-link {
      display: block;;
      &__image {
        object-fit: cover;
        object-position: center;
        display: block;
      }
      .grid-image-primary {
        display: block;
      }
      .grid-image-secondary {
        display: none;
      }
      @media (hover:hover) {
        &:hover {
          .grid-image-primary {
            display: none;
          }
          .grid-image-secondary {
            display: block;
          }
        }
      }
    }
    &__metadata {
      padding: $v-space $inset 0;
      p {
        line-height: 1.25;
        margin: 0;
      }
      p + p {
        margin-top: .35em ;
      }
      &__strikethrough_price {
        color: $gray-medium
      }
    }
  }
}
